<h1><%= @resource_model.model.to_s %></h1>

<table>
  <thead>
    <tr>
      <% @resource_model.show_page_attributes.each do |attribute| %>
        <th> <%= attribute.to_s %> </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @resource_model.show_page_attributes.each do |attribute| %>
      <td>
          <% if attribute == :id %>
            <%= @resource[attribute]  %>
          <% else %>
            <%= display_attribute @resource_model, attribute, @resource  %>
          <% end %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>